body {
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

 #calendar 
{
	width: 900px;
    margin-left:10%;
    margin-right:10%;
    height:80%;
    width:80%;
}

.navbar-static-top {
  margin-bottom: 19px;
}