body {
  padding-top: 20px;
}

th{
	width: 100px;
}

td{
	height: 100px;
}

td:hover{
	background-color: #D6EFF7;
}

.event{
	background-color: #66E0FF;
	border-radius:25px;
	text-align:center;
}

.task{
	background-color: #C285C2;
	border-radius:25px;
	text-align:center;
}

h1{
	text-align:center;
}

.faded-date
{
	color:#CCCCCC;
}