<aside id="sidebar" data-controller="sidebar" data-action>
	<%
		@user = current_user
		@event = @user.events.new
		@task = @user.tasks.new
	%>
	<button type="button" id="switchForm" class="btn btn-default btn-sm">Switch</button>
	<%= render "events/form" %>
	<%= render "tasks/form" %>
</aside>