<div data-controller="<%= controller_name %>" data-action="<% action_name %>">
	<div id="today"></div>

</div>
<script type="template" id="schedule-template">
	<li>
		{{startFormatted}} | {{title}}
	</li>
</script>
<div id="right-sidebar"><ul id="list_events"></ul></div>