<div data-controller="<%= controller_name %>" data-action="<% action_name %>">
	<div id="today"></div>

</div>
<script type="template" id="schedule-template">
	<li class="well">
		<span class="time">{{startFormatted}} - {{endFormatted}}</span>
        <span class="title"><b>{{title}}</b></span>
	</li>
</script>
<div id="right-sidebar"><ul id="list_events"></ul></div>