<div id="showEvent">
	<a id="closeEvent">X</a>
	<p>
	  <strong>Start time:</strong>
	  {{start}}
	</p>

	<p>
	  <strong>End time:</strong>
	  {{end}}
	</p>

	<p>
	  <strong>Name:</strong>
	  {{title}}
	</p>

	<p>
	  <strong>Description:</strong>
	  {{description}}
	</p>
</div>