#new_event {
	.field, .actions{
		float: left;
		clear: left;
		margin-bottom: 10px;

		label {
			width: 75px;
			text-align: right;
		}

		input{
			width: 200px;
		}

		input[type="submit"] {
			margin-left: 80px;
			width: 120px;
		}
	}
}

#eventsTable {
	margin-left: 40px;
	th, tr, td {
		padding: 10px;
	}
	.eventName {
		width: 250px;
	}
}
