#today {
	width: 400px;
}

#showEvent {
	width: 200px;
	height: 200px;
	background: #DDD;
	position: absolute;
}
#list_events {
	float:left;
    list-style-type: none;
    li {
        width: 400px;
        background-color: #dff0d8;
        border-color: #A3C993;
        .time {
            margin-right: 20px;
        }
    }
}
#right-sidebar {
	float: left;
	width: 400px;
}
div[data-controller="home"] {
    float: left;
    margin-left: 40px;
}