#sidebar {
	background-color: #DDD;
	width: 300px;
	height: 700px;
	float: left;
}
#switchForm {
	margin-left:5%;
	margin-top:5%;
}

#duration_slider {
	width: 87%;
	margin: 10px;
	display: inline-block;
}