#new_task {
	.field, .actions{
		float: left;
		clear: left;
		margin-bottom: 10px;

		label {
			width: 75px;
			text-align: right;
		}
	}
}

#duration_slider {
	
}

#tasksTable {
	margin-left: 40px;
	th, tr, td {
		padding: 10px;
	}
	.taskName {
		width: 250px;
	}
}
